 .form{
    display: grid !important;
    justify-content: center;
    align-items: center;
    margin: 8rem;
    justify-items: start;
} 


.title{
    margin-bottom: 2rem;
   
}

.input{
    margin-left: 1rem !important;
    width: 300px !important;
}

.formulario{
    display: grid !important;
    justify-content: space-between;
    justify-items: end;
}

.boton{
    width: 100%;
}

@media (max-width: 768px) {
    .form{
        display: grid !important;
        justify-content: center;
        align-items: center;
        margin:0px !important;
        margin-top: 8rem !important;
        justify-items: start;
    } 
    
  }