 .form{
    display: grid !important;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    justify-items: start;
} 


.title{
    margin-bottom: 2rem;
   font-size: large;
}

.input{
    margin-left: 1rem !important;
    width: 250px !important;
}

.formulario{
    display: grid !important;
    justify-content: space-between;
    justify-items: end !important;
}

.boton{
    width: 100%;
}

@media (max-width: 768px) {
    .form{
        display: grid !important;
        justify-content: center;
        align-items: center;
        margin:2rem !important;
        margin-top: 8rem !important;
        justify-items: start;
    } 

    .input{
        margin-left: 1rem !important;
        width: 200px !important;
        z-index: 2 !important;
    }

    .form{
        z-index: 2 !important;
    } 
    
  }